html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Gabarito', serif;
    /* border:  1px solid red; */
    /* outline: 2px solid rgb(73, 179, 46) !important; */
    /* background-color: rgb(0 100 0 / 0.1) !important; */
  }

  body { 
    height: 100%;
    width: 100%;
  }

/* main Container setup */
#main { 
display: grid;

}

/* .blob-fam { 
  position: relative;
}

.blob1 svg { 
  width: 100vh;
  height: 100vh;
  z-index: -2;
  right: 2em;
  top: -9em;
  position: absolute;
  height:55em;
}

.blob2 svg {
  width: 100vh;
height: 100vh;
  z-index: -2;
 height: 45em;
 position: absolute;
 top: 30rem;
 

} */


#headertab { 
  grid-column: 1 / span 2;
  display: inline-flex;
}

.header-tabs { 
  display: flex;
  align-items: center;  
  /* margin-left: 2em; */
}
a{  
text-decoration: none;
padding-left: 2em;
transition-duration: 0.4s;
color: black;
} 

#mid-Container { 
grid-column: 1 / span 2;
grid-row: auto;
display: flex;
align-items: center;
margin-top: 5em;
justify-content: space-around;
line-height: 3em;


/* width: 100%;
max-width: 100%; */
}

.profilePic img{ 
  max-height: 400px;
width: 85%;
border-radius: 50%;
height: auto;
-webkit-box-shadow: 12px 8px 14px 2px rgba(0,0,0,0.71); 
box-shadow: 12px 8px 14px 2px rgba(0,0,0,0.71);
}

 .text-container strong:nth-child(2) { 
  font-size: 4rem;
}

.text-container #sammyHi { 
  background: linear-gradient(to right, #000000,#000000,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  margin-top: 1em;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000000;
  background-color: #FFC436;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

button a {
text-align: center;
padding-right: 20px;
}


/* .block-fam { 
  z-index: -2;
  position: relative;
} */

#footer-container { 
grid-column: 1 / span 2;
grid-row: auto;
  display: flex;
 align-items: center;
  justify-content: space-evenly;
  line-height: 2em;
  width: 100%;
 gap: 2em;
 margin-top: 4em;
}

.bottom-description{ 
  width: 100%;
  padding-right: 13%;
  min-width: 400px;
  max-width: 40%;
  /* margin: 0 auto; */
}
.bottom-description > p {
  margin: 0 auto;
}

.footerPic img {
max-width: 400px;  
width: 100%;
height: auto;
border-radius: 25px;
  -webkit-box-shadow: -16px 8px 14px 2px rgba(0,0,0,0.71); 
box-shadow:-16px 8px 30px 1px rgba(0,0,0,0.71);
}

.bottom-description strong:nth-child(2) { 
  font-size: 3rem;
}


/* Github Icon in header file */
.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

#languages {
  grid-column: 1 / 2 span;
  grid-row: auto;
  display: flex;
  justify-content: center;
  margin-top: 8em;
  text-align: center;
}

.list-lang { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bot-lang p:nth-child(1) { 
 font-size: 30px;
 padding: 0.5em;
}




.bot-lang img{ 
  height: 4em;
}


 @media screen and (max-width: 768px) {

    #mid-Container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 3%;
  }
  .intro { 
    margin-top: 5em;
  }

  #footer-container { 
    display: flex; 
    text-align: center;
    flex-wrap: wrap-reverse;
  } 

  .bottom-description {
    padding: 3%;
  }  
.footerPic { 
  padding: 0 3% 0 3%;
}

} 


