html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-family: "Gabarito", serif;
  /* outline: 2px solid rgb(73, 179, 46) !important; */
  /* background-color: rgb(0 100 0 / 0.1) !important; */
}

#main {
  display: grid;
}

#headtab {
  grid-column: 1 / span 2;
  display: inline-flex;
}

.header-tabs {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  padding-left: 2em;
  transition-duration: 0.4s;
  color: black;
}

.header-tabs li:nth-child(1) {
  padding: 2%;
}

#mid-Container {
  grid-column: 1 / span 2;
  grid-row: auto;
  display: flex;
  align-items: center;
  margin-top: 5em;
  justify-content: space-around;
  line-height: 1.6em;
}

.profilePic img {
  max-height: 400px;
  width: 85%;
  border-radius: 50%;
  height: auto;
  -webkit-box-shadow: 12px 8px 14px 2px rgba(0, 0, 0, 0.71);
  box-shadow: 6px 3px 20px 2px rgba(0, 0, 0, 0.71);
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 1rem;
  max-width: 400px;
}

.text-container strong {
  font-size: 4rem;
  line-height:1.5em;
}

.text-container #sammyHi {
  background: linear-gradient(to right, #000000, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  margin: 0 auto;
  width: 200px;
  margin-top: 1em;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000000;
  background-color: #ffc436;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

button a {
  text-align: center;
  padding-right: 20px;
}

#footer-container {
  grid-column: 1 / span 2;
  grid-row: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 2em;
  width: 100%;
  gap: 2em;
  margin-top: 4em;
}

.bottom-description {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.bottom-description strong {
  font-size: 4rem;
  line-height:1.5em;
}

.footerPic img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 25px;
  -webkit-box-shadow: -16px 8px 14px 2px rgba(0, 0, 0, 0.71);
  box-shadow: -6px 8px 30px 1px rgba(0, 0, 0, 0.71);
}

.bottom-description strong:nth-child(2) {
  font-size: 3rem;
}

#languages {
  grid-column: 1 / 2 span;
  grid-row: auto;
  display: flex;
  justify-content: center;
  margin-top: 8em;
  text-align: center;
  filter: saturate(3);
}

.list-lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2px;
}

.bot-lang p:nth-child(1) {
  font-size: 30px;
  padding: 0.5em;
}

.bot-lang img {
  height: 4em;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

@media screen and (max-width: 768px) {
  #main {
    width: 100%;
    height: 100%;
  }

  #mid-Container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 3%;
  }
  .intro {
    margin-top: 3em;
  }

  #footer-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap-reverse;
  }

  .footerPic {
    margin-top: 2em;
    /* padding: 0 3% 0 3%; */
  }

  .text-container {
    padding: 1%;
  }
}
