* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gabarito', serif;
    /* border:  1px solid red; */
    /* outline: 2px solid limegreen !important; */
    /* background-color: rgb(0 100 0 / 0.1) !important; */

    list-style: none;
}

/* main Container setup */
#main-container { 
    display: grid;
    /* height: 100vh; */
    text-align: center;
    padding: 0px 1em 0px 1em;
    height: 100vh;
}

/* profilePic/Description */
#container1 { 
    grid-column: 1; 
    display: flex;
    align-items: center;
    /* text-align: center; */
}


.svgList { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img[src*="svg"] { 
  height: 60px;
}

/* User Profile withbackground Style */
.imgMe img { 
    margin: 0 auto;
    border-radius: 50%;
background: #f7f7f7;
box-shadow:  -18px -18px 70px #686868,
             18px 18px 70px #ffffff;
             
}

.imgMe img {
  height: 18em;
}

h2 { 
    margin-bottom: 1em;
}

#fl { 
    color: green;
}

/* midContainer Descriptive-info */

#grid-item p  {
max-width: 60%;
margin: 1em auto;
}

/*container logos SVGFILES Footer*/
#containerFooter { 
    grid-column:  1 / span 2;
    grid-row: 2;
}

#contact-Contain  { 
    display: flex;
}



@media screen and (max-width: 700px) {
    #container1, #grid-item {
        display: block;
        padding: 3em;
}
}

